<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>My first three.js app</title>
        <script type="importmap">
            {
              "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@v/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@<version>/examples/jsm/"
              }
            }
          </script>
	</head>
	<body>
		<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>